:root {
    --blue: rgb(21, 69, 211);
    --orange: rgb(245, 171, 33);
    --grey: rgb(48, 47, 47);
}

body {
    font-family: Arial, Helvetica, sans-serif, serif;
    background-color: rgb(85, 85, 85);
    color: white;
}

header {
    display: block;
    width: 100%;
    margin: 0;
    padding-top: 20px;
    font-size: 2.5rem;
    text-align: center;
    background-color: var(--blue);
    color: var(--orange);
  }

h2, h3  {
    font-size: 1.5rem;
}

li {
    padding: 10px;
}

footer {
    display: block;
    background-color: var(--blue);
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    font-size: 2.5rem;
    color: white;
    font-size: 1.0rem;
}

.navbar {
    display: block;
    width: 100%;
    background-color: var(--orange);
    color: var(--blue);
    font-size: 1.25rem;
    text-align: center;
}

.navbar .nav-link {
    display: inline-flex;
    padding: 6px;
    justify-content: space-between;
    position: relative;
}

.title-image {
    display: block;
    padding-top: 20px;
    text-align: right;
    background-color: var(--blue);
    color: var(--orange);
}

.subtitle {
    padding-right: 20px;
    padding-bottom: 5px;
}

.section-title {
    padding-bottom: 10px;
    text-align: left;
    border-bottom: 5px solid white;
    position: relative;
}

#about-me {
    padding: 20px 10px 20px 10px;
    text-align: center; 
}



.work {
    display: flex;
    flex: wrap;
    padding: 5px;
    position: relative;
    text-align: center;
    color: white;
}

#work-container {
    border-block-end-width: inherit;
    padding-bottom: 10px;

}

.work img {
    opacity: 70%;
}

.work img:hover {
    opacity: 100%;

}

.work-header {
    position: absolute;
    left: 10px;
    bottom: 50px;
    border: 20px solid lightblue;
    background-color: lightblue;
    z-index: 1;
}

.work img {
    border: 5px solid lightblue;
}

@media screen and (max-width: 768px) {
    .section-title {
        padding-bottom: 10px;
        text-align: center;

    }
}