:root {
    --primary: #3d405b;
    --secondary: #e07a5f;
    ---light: #f4f1de;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--light);
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

p {
    padding: 0.5em 0;
}

header {
    background-color: var(--primary);
    padding: 2em 0;
}

h1 {
    padding-left: 30px;
    font-size: 32px;
    border: 10px solid var(--secondary);
    background-color: var(--secondary);
    color: var(--primary);
}

.header {
    justify-content: space-between;
}

.navbar {
    align-items: right;
    padding-right: 20px;
}

a {
    padding: 0 10px;
    color: var(--secondary);
}

.title-image {
    background-image: url(../images/header-image.jpeg);
    background-repeat: no-repeat;
    text-align: right;
    padding: 20px;
}

.title-image h2 {
    padding-right: 15px;
    color: var(--primary);
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

section {
    padding-top: 1em;
    display: flex;
}

section h2 {
    text-align: right;
    padding-right: 30px;
}

.left-side {
    width: 15%;
    border-right: 5px solid var(--primary);
    color: var(--primary);
}
  
.right-side {
    width: 85%;
    padding-left: 30px; 
}

.project {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
}

.work-card {
    position: relative;
    display: flex;
    flex: 1 1 45%;
    text-align: left;
    border: 5px solid var(--primary);
    margin: 10px;
    height: 180px;
  }

.work-card.featured {
    height: 300px;
}

.work-card img {
    width: 100%;
}

.work-card .work-title {
    display: block;
    position: absolute;
    z-index: 1;
    border: 5px solid var(--primary);
    background-color: var(--primary);
    color: var(--secondary);
    padding: 20px;
    bottom: 20px;
}

.work-card .work-title h5 {
    font-weight: normal;
}

ul {
    list-style: none;
}

li {
    display: inline;
}


.bottom-nav {
    align-items: right; 
}

.bottom-nav li {
    padding: 0 40px;
}

#projects {
    display: flex;
    flex-wrap: wrap;
}



