* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e5e5e5;
    font-size: 16px;
}

p {
    padding: 0.5em 0;
}

header {
    background-color: #0a9396;
    padding: 1em 0;
}

.header {
    justify-content: space-between;
}

.navbar {
    align-items: right;
}

a {
    padding: 0 10px;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

section {
    padding-top: 1em;
    display: flex;
}

section h2 {
    text-align: right;
    padding-right: 30px;
}

.left-side {
    width: 30%;
    border-right: 4px solid #0a9396;
  }
  
.right-side {
    width: 70%;
    padding-left: 30px; 
  }

  .bottom-nav {
      align-items: right;
  }

