:root {
    --lightgrey: #e5e5e5;
    --teal: #0a9396;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--lightgrey);
    font-size: 16px;
}

p {
    padding: 0.5em 0;
}

header {
    background-color: var(--teal);
    padding: 2em 0;
}

h1 {
    padding-left: 30px;
    font-size: 32px;
    border: 10px solid var(--lightgrey);
    background-color: var(--lightgrey);
    color: var(--teal);
}

.header {
    justify-content: space-between;
}

.navbar {
    align-items: right;
    padding-right: 20px;
}

a {
    padding: 0 10px;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

section {
    padding-top: 1em;
    display: flex;
}

section h2 {
    text-align: right;
    padding-right: 30px;
}

.left-side {
    width: 15%;
    border-right: 4px solid var(--teal);
}
  
.right-side {
    width: 85%;
    padding-left: 30px; 
}

.project {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
}

.work-card {
    flex: 1 1 45%;
    padding: 10px;
    text-align: left;
    border: 5px solid var(--teal);
  }

.work-card img {
    width: 100%;
    min-width: 400px;
}

.bottom-nav {
    align-items: right; 
}

.bottom-nav a {
    padding: 0 40px;
}



